{% extends 'skel.html' %} 
{% load staticfiles %} 

{% block 'head' %}
	<meta id='meta-google-client' name="google-signin-client_id" content="">
	<link rel="stylesheet" href="{% static 'Maps/map.css' %}"/>
	<script src="{% static 'Maps/auth.js' %}"></script>
	<script src="{% static 'Maps/map.js' %}"></script>
	<script src="{% static 'Maps/clear.js' %}"></script>
	<script src="{% static 'Maps/create.js' %}"></script>
	<script src="{% static 'Maps/table.js' %}"></script>
{% endblock %} 

{% block 'body' %}
	<div id='map'></div> 
	<div class='row'> 
		<div class="btn-group" role="group" >
			<a type='button' class='btn btn-default' onclick='deleteAll()' >
				<span class="glyphicon glyphicon-trash"></span>	
				Clear database
			</a>
			<a type='button' class='btn btn-default' target='newtab' href='https://www.google.com/fusiontables/DataSource?docid=1CoaFZodTJ1zEilJAN3M5KmHs316fGwAx5pt1vjqA' >
				<span class="glyphicon glyphicon-th-large"></span>
				View fusion table
			</a>
			<a class='btn btn-default' href='mailto:martincastro.10.5@gmail.com'>
				<span class="glyphicon glyphicon-envelope"></span>
				martincastro.10.5@gmail.com
			</a>
		</div>
	</div>
	<table id='address_book'>
		<thead>
			<tr>
				<td colspan='1'>Date</td>
				<td colspan='1'>Latitude</td>
				<td colspan='1'>Longitude</td>
				<td colspan='5'>
					<span id='total_entries' class="label label-info">{{total_entries}}</span>	
					Address(es)
				</td>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
{% endblock %} 
